name: Build Release

on:
  workflow_dispatch:
    inputs:
      reset:
        description: 'Reset cache'
        required: true
        default: 'no'
        type: choice
        options:
        - 'no'
        - 'prune'
        - 'prune-reset'
jobs:
  release:
    name: Build Release
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Github repo
        uses: actions/checkout@v3

      - name: Setup Earthly
        uses: earthly/actions/setup-earthly@v1

      - name: Earthly version
        run: earthly --version

      - name: Maybe prune build context
        if: inputs.reset == 'reset'
        run: earthly prune

      - name: Maybe reset build context
        if: inputs.reset == 'prune-reset'
        run: earthly prune --reset

      - name: Log in to the Container registry
        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Do Earthly
        run: earthly --verbose --ci --remote-cache=ghcr.io/my-app:cache --push +build

